.carousel-inner {
  height: 100vh !important;
  /* overflow: !important; */
}

.row {
  margin-top: 10%;
  margin-bottom: 10%;
}
.marginT {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}
.carousel-item {
  padding-top: 7%;
}
