.nav-pills .nav-link.active, .nav-pills .show>.nav-link 
    /* color: #fff; */
    /* background-color: #007bff; */ {
  font-size: 18px !important;
  font-weight: 500 !important;
  margin: 0 !important;
  padding-bottom: 5px !important;
  transition: all 0.3s ease 0s !important;
  color: #f4976c !important;
  background-color: white !important;
  border-color: transparent !important;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  /* color: #fff; */
  /* background-color: #007bff; */
  font-size: 18px !important;
  font-weight: 500 !important;
  margin: 0 !important;
  padding-bottom: 5px !important;
  transition: all 0.3s ease 0s !important;
  color: #555 !important;
  background-color: white;
}

.bottomBorder {
  position: relative;
  bottom: 0 !important;
  left: 50% !important;
  width: 50px !important;
  height: 1px !important;
  content: "" !important;
  margin-top: 2%;
  margin-bottom: 3%;
  transform: translateX(-50%) !important;
  background-color: #000 !important;
}

.rowHome {
  margin-left: 12% !important;
  margin-right: 12% !important;
}

h2 {
  font-family: "Josefin Sans, sans-serif" !important;
  font-size: 36px !important;
  font-weight: 600 !important;
  color: #010101 !important;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-pills .nav-link {
  border: none !important;
}
.dropdown-item {
  background-color: white !important;
  color: #000 !important;
}
