 .card{
    min-height: 200px;
    margin-top: 20px
}

.card-body{
    padding: 2.5rem 1.2rem !important;
    min-height: 250px !important;
    
}

.container-fluid.row{
    padding: 10px;
}

.card-img-top{
    height: 50%px;
    width:auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
} 
.div{
 

}

.overflow-ellipsis {
    text-overflow: ellipsis;
    /* max-width: 100px; */
    white-space: nowrap;
    overflow: hidden;
  }
.parentbtn{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.btnDiv {
  margin: 0 auto;
}